@font-face {
  font-family: "Noto Sans";
  src: url("https://www.externality.ch/_/Fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Sans/NotoSans-BoldItalic.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Sans/NotoSans-Italic.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2");


  font-family: "Noto Serif";
  src: url("https://www.externality.ch/_/Fonts/Noto_Serif/NotoSerif-Bold.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Serif/NotoSerif-BoldItalic.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Serif/NotoSerif-Italic.woff2") format("woff2"),
       url("https://www.externality.ch/_/Fonts/Noto_Serif/NotoSerif-Regular.woff2") format("woff2");