/* Variables */

/* Fonts */
$font-titles: 'Noto Sans', sans-serif
$font-body: 'Noto Serif', serif
$font-quotes: 'Gentium Basic', serif
$font-weight-standard: 500

/* Colors */
$primary-color: #333
$link-color: #006fc6
$highlight-color: #424242
$inverted-color: #fff
$inverted-link-color: #a6a6a6

/* Spacing */
$margin-standard: 20px
$padding-standard: 20px

/* Styles */
body
  color: $primary-color
  h1,h2,h3,h4,h5,h6
    font-family: $font-titles
    font-weight: $font-weight-standard
  p
    font: 1.1em $font-body
  ul
    li
      font: 1.0em $font-body
  a
    color: $link-color
    text-decoration: underline
    &.home
      font-size: 1.9em
      color: $link-color
      width: 100%
      height: 100%
      display: block
  div
    &.container
      margin: $margin-standard auto $margin-standard auto
    &.header
      background-image: url('/_/Images/nepal.png')
      background-size: cover
      background-position: center center
      margin-bottom: $margin-standard
      height: 20%
    &.highlight
      background-color: $highlight-color
      padding: $padding-standard
      margin-bottom: 2*$margin-standard
      margin-top: 2*$margin-standard
      color: $inverted-color
      a
        color: $inverted-link-color
  blockquote
    font: 1.5em $font-quotes
    font-style: italic
    width: 80%
    margin-left: auto
    margin-right: auto
    margin-bottom: 2*$margin-standard
    margin-top: 2*$margin-standard