/* Variables */

/* Fonts */
$font-size-standard: 0.9rem
$font-size-heading: 1.4rem
$font-heading: 'Noto Sans', sans-serif
$font-body: 'Noto Serif', serif
$font-quotes: 'Gentium Basic', serif
$font-weight-standard: 500
$font-weight-strong: 700

/* Colors */
$primary-color: #333
$link-color: #006fc6
$highlight-color: #787878
$inverted-color: #fff
$inverted-link-color: #a6a6a6

/* Spacing */
$margin-standard: 0.5rem
$margin-large: 1.5rem
$padding-standard: 0.5rem

/* Styles */
html
  height: 100%
  margin: 0
  font-size: $font-size-standard
  
body
  font-family: $font-heading
  height: 100%
  margin: 0
  color: $primary-color

  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: nowrap
  align-items: stretch
  flex: 1 100%
  
  h1,h2,h3,h4,h5,h6
    font-family: $font-heading
    font-weight: $font-weight-standard
  p
    //font: 2.1em $font-body
  ul
    li
      //font: 2.0em $font-body
  a
    color: $link-color
    text-decoration: underline
    
  div
    &.header
      padding: $padding-standard
      display: flex
      
      .timer
        font-family: $font-heading
        width: 50%
        text-align: right

      .home
        font-family: $font-heading
        width: 50%
        text-align: left

        a
          font-weight: $font-weight-strong
          text-decoration: none
          color: $highlight-color
          
          &:hover
            color: $primary-color

    &.footer 
      padding: $padding-standard
      display: flex
      .easter-egg
        width: 50%
        text-align: left

        a
          color: $highlight-color
      
      .legal
        width: 50%
        text-align: right

      
    &.container
      height: 100%
      display: flex
      justify-content: center
      flex-direction: column
      margin: 0 auto 0 auto
      text-align: center

      .panels
        font-size: $font-size-heading

        a.panel
          color: $inverted-color
          text-decoration: none
          text-transform: lowercase
          font-weight: $font-weight-strong
          text-align: left
          font-family: $font-heading
          display: inline-block
          background-color: $highlight-color
          width: 150px
          height: 150px
          margin: $margin-standard
          padding: $padding-standard

          &:hover 
            background-color: $primary-color

          &::before
            content: "."

      .contact
        margin: $margin-large
        a.link
          color: $primary-color
          margin: 0 $margin-large 0 $margin-large
          text-decoration: none
          text-transform: lowercase
          font-family: $font-heading
          font-weight: $font-weight-strong
    
    &.playground
      height: 100%
      text-align: left

      .folder
        font-size: $font-size-heading
        width: 150px
        height: 150px
        border: 1px solid $inverted-color
        background-color: $primary-color
        //margin: $margin-standard
        padding: $padding-standard
        display: inline-block

        a
          color: $inverted-color
          text-decoration: none
          text-transform: lowercase
          font-weight: $font-weight-strong
          text-align: left
          font-family: $font-heading
          display: inline-block
          
          